<div id="filters">
    <div class="filter-options">
      <div class="filter">
        <div class="icon">
          <i class="fa-solid fa-mountain-sun"></i>
        </div>
        <p>Mountain</p>
      </div>
      <div class="filter">
        <div class="icon">
          <i class="fa-solid fa-person-swimming"></i>
        </div>
        <p>Amazing pools</p>
      </div>
      <div class="filter">
        <div class="icon">
          <i class="fa-solid fa-glasses"></i>
        </div>
        <p>OMG!</p>
      </div>
      <div class="filter">
        <div class="icon">
          <i class="fa-regular fa-building"></i>
        </div>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <div class="icon"><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>BeachFront</p>
      </div>
      <div class="filter">
        <div class="icon">
          <i class="fa-solid fa-street-view"></i>
        </div>
        <p>Amazing Views</p>
      </div>
      <div class="filter">
        <div class="icon">
          <i class="fa-solid fa-parachute-box"></i>
        </div>
        <p>Nation parks</p>
      </div>
      <div class="filter">
        <div class="icon">
          <i class="fa-solid fa-van-shuttle"></i>
        </div>
        <p>Camper vans</p>
      </div>
      <div class="filter">
        <div class="icon">
          <i class="fa-solid fa-volleyball"></i>
        </div>
        <p>Beach</p>
      </div>
      <div class="filter">
        <div class="icon">
          <i class="fa-solid fa-wifi"></i>
        </div>
        <p>Design</p>
      </div>
    </div>
    <div class="switch">
      <div class="form-check form-switch main-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Offers</label
        >
      </div>
    </div>
  </div>