<br>
<% if(sucess && sucess.length){ %>
  <div class="alert alert-success alert-dismissible fade show col-8 offset-2" role="alert">
    <%= sucess %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
<% if(error && error.length){ %>
  <div class="alert alert-danger alert-dismissible fade show col-8 offset-2" role="alert">
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>