 <footer>
 <div class="footer-content">
    <div class="footer-left">
        <div class="footer-options">
            <p class="footer-head">Support</p>
        </div>
        <div class="footer-options">
            <p>Help Centre</p>
        </div>
        <div class="footer-options">
            <p>AirCover</p>
        </div>
        <div class="footer-options">
            <p>Anti-discrimination</p>
        </div>
        <div class="footer-options">
            <p><a href="listing/new" style="text-decoration:none; color: tomato;">AirBnb Your Home</a></p>
        </div>
    </div>
    <div class="footer-left">
        <div class="footer-options">
            <p class="footer-head">Hoisting</p>
        </div>
        <div class="footer-options">
            <p>Hosting responsibly</p>
        </div>
        <div class="footer-options">
            <p>Investors</p>
        </div>
        <div class="footer-options">
            <p>Privacy</p>
        </div>
        <div class="footer-options">
            <p>Centre</p>
        </div>
    </div>
    <div class="footer-left">
        <div class="footer-options">
            <p class="footer-head">AirBnb</p>
        </div>
        <div class="footer-options">
            <p>Hosting responsibly</p>
        </div>
        <div class="footer-options">
            <p>
                AirCover</p>
        </div>
        <div class="footer-options">
            <p>Airbnb.org emergency stays</p>
        </div>
        <div class="footer-options">
            <p>Help Centre</p>
        </div>
    </div>
    <p id="lastp">	&#169; 2023 Airbnb, Inc.·PrivacyTermsSitemapCompany details</p>
 </div>
</footer>