<footer>
 <div class="footer-content">
    <div class="footer-left">
        <p>&#169; 2023 Airbnb,Inc</p>
        <p>Privacy</p>
        <p>Terms</p>
        <p>Sitemap</p>
        <p><a href="http://localhost:8080/listing/new" style="text-decoration:none; color: tomato;">Add Villa</a></p>
    </div>
    <div class="footer-right">
        <i class="fa-solid fa-globe"></i>
        <i class="fa-solid fa-globe"></i>
        <i class="fa-solid fa-globe"></i>
    </div>
 </div>
</footer>