<div class="mobile">
    <div class="mobile-top">
      <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
    <span> <i class="fa-solid fa-filter" style="color: #676767;"></i> &nbsp; Filters</span>
    </button>
    <div class="collapse" id="collapseExample">
      <div class="filters">
        <div class="filter-options">
          <div class="filter">
            <div class="icon">
              <i class="fa-solid fa-mountain-sun"></i>
            </div>
            <p>Mountain</p>
          </div>
          <div class="filter">
            <div class="icon">
              <i class="fa-solid fa-person-swimming"></i>
            </div>
            <p>Amazing pools</p>
          </div>
          <div class="filter">
            <div class="icon">
              <i class="fa-solid fa-glasses"></i>
            </div>
            <p>OMG!</p>
          </div>
          <div class="filter">
            <div class="icon">
              <i class="fa-regular fa-building"></i>
            </div>
            <p>Rooms</p>
          </div>
          <div class="filter">
            <div class="icon"><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>BeachFront</p>
          </div>
          <div class="filter">
            <div class="icon">
              <i class="fa-solid fa-street-view"></i>
            </div>
            <p>Amazing Views</p>
          </div>
          <div class="filter">
            <div class="icon">
              <i class="fa-solid fa-parachute-box"></i>
            </div>
            <p>Nation parks</p>
          </div>
          <div class="filter">
            <div class="icon">
              <i class="fa-solid fa-van-shuttle"></i>
            </div>
            <p>Camper vans</p>
          </div>
          <div class="filter">
            <div class="icon">
              <i class="fa-solid fa-volleyball"></i>
            </div>
            <p>Beach</p>
          </div>
          <div class="filter">
            <div class="icon">
              <i class="fa-solid fa-wifi"></i>
            </div>
            <p>Design</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="search-bar">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-btn" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btnsearch" type="submit">Search</button>
        </form>
    </div>
  </div>