<nav>
  <div class="navbar ">
      <div class="navbar-left">
       <a href="/"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/1024px-Airbnb_Logo_B%C3%A9lo.svg.png" alt="logo"></a>
      </div>
      <div class="navbar-middle">
          <div class="middle-search">
              <a href="#" style="color: black;">Anytime</a>
              <a href="#" style="color: black;">AnyWeek</a>
              <a href="#" style="border-right: none">AnyGuest</a>
              <i class="fa-solid fa-magnifying-glass"></i>
          </div>
      </div>
      <div class="navbar-right">
          <div class="user-icon">
            <div class="dropdown">
              <i class="fa-solid fa-bars"  data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu">
                <% if(!isLogged) { %>
                  <li><a class="dropdown-item" href="/signup">SignIn</a></li><hr>
                  <li><a class="dropdown-item" href="/login">LogIn</a></li>
                <% } else { %>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                <% } %>
              </ul>
            </div>
          </div>
      </div>
  </div>
</nav>