<nav  class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="navbar container-fluid">
    <div class="navbar-left">
      <a href="/listing">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/1024px-Airbnb_Logo_B%C3%A9lo.svg.png"
          alt="logo"
      /></a>
    </div>
    <div class="search">
      <form class="d-flex" role="search">
        <input class="form-control me-2 search-btn"  type="search" placeholder="Search Villa" aria-label="Search">
        <button class="btn btnsearch" type="submit">Search</button>
      </form>
    </div>
    <div class="navbar-right">
      <div class="user-icon">
        <div class="dropdown">
          <i
            class="fa-solid fa-bars"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          ></i>
          <ul class="dropdown-menu">
            <% if(!isLogged) { %>
            <li><a class="dropdown-item" href="/signup">SignIn</a></li>
            <hr />
            <li><a class="dropdown-item" href="/login">LogIn</a></li>
            <% } else { %>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<style>
  .btnsearch{
  background-color:#FF5A5F;
  color: white;
  font-weight: 700;
  border-radius: 1.5rem;
  padding: 0 1rem 0 1rem;
}
.btnsearch:hover{
  border: 1px solid gray;
}
.search-btn{
  border-radius: 1.2rem;
  padding: 0.3em 3rem 0.5rem 3rem;
  font-size: 1rem;
}
</style>
