<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/login" method="post" novalidate class="needs-validation" >
                <div class="mb-3">
                    <label for="name" class="form-label">Enter your Username</label>
                    <input type="text" required class="form-control" name="username">
                    <div class="invalid-feedback">
                        Username is required
                      </div>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Enter your Password</label>
                    <input type="password" required class="form-control" name="password">
                    <div class="invalid-feedback">
                        Password is required
                      </div>
                </div>
            
                <button type="submit" class="btn btn-primary newBtn">Submit</button>
            </form>
        </div>
       </div>
</body>