<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row offset-3 mt-5">
        <form method="post" action="/listing/edit/<%=data._id%>?_method=PUT">
            <div class="col-8 mb-2">
                <label for="name" class="form-label"><%=data.title %></label><br>
                <input type="number" required class="form-control" name="listing[price]" placeholder="Change price">
            </div>
           <div class="col-8 mb-2">
            <br>
            <label for="description" class="form-label"><%=data.description%></label>
            <textarea class="form-control" name="listing[description]" placeholder="Change your description" id="" cols="30" rows="10"></textarea><br>
           </div>
            <button style="background-color: tomato; color: white; border: none;
            border-radius: 5px; padding: 5px; letter-spacing: 1px;">Apply Changes</button>
        </form>
    </div>
</body>
