<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/listing">
        <input type="text" name="listing[title]" placeholder="enter villa name"><br><br>
        <input type="text" name="listing[image]" placeholder="enter image url"><br><br>
        <input type="number" name="listing[price]" placeholder="enter price"><br><br>
        <input type="text" name="listing[location]" placeholder="enter location"><br><br>
        <input type="text" name="listing[country]" placeholder="enter country"><br><br>
        <textarea name="listing[description]" placeholder="Enter your description" id="" cols="30" rows="10"></textarea><br>
        <button>Add your villa</button>
    </form>
</body>
</html>