<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <a href="http://localhost:8080/">Back</a>
    <div class="content">
        <h3><%= data.title %></h3>
        <p><%= data.description %></p>
        <p>&#8377; <%=data.price.toLocaleString('en-IN') %></p>
        <img src="<%=data.image %>" alt="">
    </div>
</body>
